# VITE_API_BASE_URL: Base URL do backend CloudInn ou servidor Mock
VITE_API_BASE_URL="https://mock.apidog.com/m1/1365796-1370036-1426621"

# VITE_API_KEY: Chave de API opcional para cabeçalho api_key
VITE_API_KEY=""
